<!-- sing AngularJS create a SPA that accept  details (name, age, and nationality) and check proper validation for (name, age, and nationality) as Name should be in upper case letters, Age should not be less than 18 yrs and Nationality should be Indian.
 -->
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <head>
        <title>Slip 29</title>
    </head>

    
    
    <body>
        <div ng-app="voterApp" ng-controller="voterCtrl">
            <form name="voterForm">
              <label>Name:</label>
              <input type="text" name="name" ng-model="voter.name" ng-pattern="/^[A-Z]+( [A-Z]+)*$/" required>
              <span ng-show="voterForm.name.$error.pattern">Name should be in upper case letters</span>
              <br>
              <label>Age:</label>
              <input type="number" name="age" ng-model="voter.age" min="18" required>
              <span ng-show="voterForm.age.$error.min">Age should not be less than 18</span>
              <br>
              <label>Nationality:</label>
              <input type="text" name="nationality" ng-model="voter.nationality" ng-pattern="/^Indian$/" required>
              <span ng-show="voterForm.nationality.$error.pattern">Nationality should be Indian</span>
              <br>
              <button ng-disabled="voterForm.$invalid" ng-click="submitVoter()">Submit</button>
            </form>
          </div>
          <script>
            var app = angular.module('voterApp', []);
app.controller('voterCtrl', function($scope) {
  $scope.voter = {};
  $scope.submitVoter = function() {
    console.log("Voter details: ", $scope.voter);
    // Additional code to submit voter details to the server
  }
});

          </script>
                    
    </body>
</html>