<!-- Create an HTML form Using AngularJS for Login system and validate email ID using
Regular Expression and password should be minimum 8 characters -->

<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <head>
        <title>Slip 29</title>
    </head>

    
    
    <body>

        <div ng-app="loginApp" ng-controller="loginCtrl">
            <form name="loginForm">
              <label>Email:</label>
              <input type="email" name="email" ng-model="user.email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
              <span ng-show="loginForm.email.$error.required">Email is required</span>
              <span ng-show="loginForm.email.$error.pattern">Invalid email address</span>
              <br>
              <label>Password:</label>
              <input type="password" name="password" ng-model="user.password" required minlength="8" maxlength="15">
              <span ng-show="loginForm.password.$error.required">Password is required</span>
              <span ng-show="loginForm.password.$error.minlength">Password should be at least 8 characters</span>
              <br>
              <button ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
            </form>
          </div>
          
       <script>
var app = angular.module('loginApp', []);
app.controller('loginCtrl', function($scope) {
  $scope.user = {};
  $scope.login = function() {
    if ($scope.loginForm.$valid) {
      console.log("Login successful!");
      // Additional code to submit login data to the server
    } else {
      console.log("Invalid email or password");
    }
  }
});

       </script>
    </body>
</html>