<!-- Write a HTML code using AngularJS to generate the following (hint : use ng-
repeat, ng-init directive)

outputUndergraduate Courses

1. BBA(CA)

ii. BCA(Science)

ii1. B.Sc.(Computer Science)

Post Graduate Courses

1. M.Sc.{Computer Science)

ii. M.Sc.(CA)

iii. MCA
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Slip2</title>
</head>
<!-- ng-repeat- it used to repeat a set of html code for a number of times-->
<!--ng-init-This is used to initialize application data(variables)-->
<!--ng-app: This directive starts an AngularJS Application-->
<style>
    body {
        margin: 2%;
        font-size: 30px;
        background-color: rgb(136, 203, 113);
        color:aliceblue;
    }
    div{
        width: fit-content;
        margin: 2rem;
        padding: 1rem;
        border: 2px solid aliceblue;
    }
</style>

<body ng-app="">
    <div ng-init="course=['BBA(CA)','BCA(Science)','B.Sc(Computer SCience)']">
        <h3 align="LEFT">Undergraduate Course</h1>
            <ol type='1'>
                <li ng-repeat="name in course">
                    {{name}}
                </li>
            </ol>
    </div>
    <div ng-init="courseS=['MCA' ,'MCA(Science)','M.Sc(Computer Science)']">
        <h3 align="LEFT">Postgraduate Course</h1>
            <ol type="1">
                <li ng-repeat="nameS in courseS">
                    {{nameS}}
                </li>
            </ol>
    </div>

</html>